body,
html {
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  position: relative;
}

#banner {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ef4444;
  color: white;
  font-weight: bold;
}

#wrapper {
  margin-top: 40px;
  padding-bottom: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 50vw;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 1000px) {
  #container {
    width: 80vw;
  }
}

.caseContainer {
    padding: 30px;
  
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
  }

  .myCase {
    margin: 0px auto 40px;
  }

.caseButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }

  #newCaseButton {
    position: absolute;
    top: 0px;
    left: 10px;
  }
  
  #closeCaseButton {
    position: absolute;
    top: 10px;
    right: 10px;
  
    padding: 10px 20px;

  }


  .inputField {
    margin-bottom: 20px;
    padding: 10px 20px;
  
    border: 1px solid #b3b3b3;
    border-radius: 4px;
  }

  #submitTests {
    padding: 10px 20px;
    margin-bottom: none;
  
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
  
    border: 1px solid #4CAF50;
    border-radius: 4px;
  }
  .img {
    max-width: 90%;
    height: auto;
  }



  